.cast-activity-wrapper {
    display: block;
}

.cast-activity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    gap: 2px;
    height: 100px;
}

.cast-activity a {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 2px;
    background-color: red;
}

.cast-color-0 {
    background-color: #33274b !important;
}

.cast-color-2 {
    background-color: #4a1f90 !important;
}

.cast-color-4 {
    background-color: #6c30cd !important;
}

.cast-color-6 {
    background-color: #9857ff !important;
}

.cast-color-8 {
    background-color: #ac7aff !important;
}

@media only screen and (max-width: 600px) {
    
}