.search {
    display: inline-block;
    position: absolute;
    width: 456px;
}

.search form {
    display: flex; /* This bit sets up the horizontal layout */
    flex-direction: row;
    padding: 2px;
    margin-bottom: 48px;
    border: 1px solid #2F1D5C; /* And hide the input's outline, so the form looks like the outline */
    background-color: #321C6C;
    border-radius: 50px;
}
  
.search form input {
    flex-grow: 2; /* Tell the input to use all the available space */
    border: 1px solid #321C6C; /* And hide the input's outline, so the form looks like the outline */
    background-color: #321C6C;
    color: white;
    font-size: 16px;
}
  
.search form input:focus {   /* remove the input focus blue box, it will be in the wrong place. */
    outline: none;
}
  
.search form:focus-within { /* Add the focus effect to the form so it contains the button */
    display: relative;
}
  
.search form button {
    border: 1px solid #672DFF; /* Just a little styling to make it pretty */
    background: #672DFF;
    padding: 6px 14px;
    margin-left: 8px;
    border-radius: 4px;
    color: white;
    transition: 0.125s ease;
    font-size: 16px;
    border-radius: 50px;
    margin: 2px;
}

.search form button:hover {
    opacity: 0.65;
    cursor: pointer;
}

.search a {
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.8px;
    display: block;
    margin-top: -32px;
    margin-bottom: 24px;
}

.search input {
    padding: 10px 12px 10px 20px;
    border-radius: 50px;
}

.search button:disabled,
.search button[disabled] {
    background: #b19cd1;
    color: #cdc2e4;
    border: 1px solid #b19cd1;
    cursor: default !important;
}

@media only screen and (max-width: 516px) {
    .search {
        width: calc(100% - 64px) !important;
    }
}