.main {
    height: 100vh !important;
}

.navigation {
    text-align: center;
    margin-top: -32px;
}

.navigation nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation nav li {
    display: inline;
}

.navigation nav li a {
    text-align: center;
    margin-right: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #a6a4ab;
    font-weight: 400;
    padding-bottom: 3px;
    border-bottom: 1px solid #a6a4ab;
}

.navigation nav li a:hover {
    opacity: 0.65;
}

@media only screen and (max-width: 600px) {
    .navigation {
        text-align: left;
    }
}