.navigation nav {
    overflow: scroll;
    padding: 24px 0px;
    overflow-y: hidden;
    margin-right: 16px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-align: center;
    margin-right: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #a6a4ab;
}

.navigation li a:hover {
    opacity: 0.65;
}

.navigation li a svg {
    vertical-align: text-top;
    margin-right: 2px;
}

.navigation .selected-tab {
    font-weight: 600;
    color: #EAEAEA;
    padding-bottom: 16px;
    border-bottom: 2px solid white;
}

.navigation .selected-tab svg path {
    fill: #EAEAEA;
}

.navigation::after {
    content: " ";
    position: absolute;
    display: block;
    width: 40px;
    height: 69px;
    margin-top: -69px;
    margin-left: 460px;
    background: rgb(27,26,31);
    background: linear-gradient(90deg, rgba(27,26,31,0) 0%, rgba(27,26,31,0.6685267857142857) 53%, rgba(27,26,31,1) 100%);  
}

.navigation nav::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.navigation nav::-webkit-scrollbar-track {
    width: 0;  /* Remove scrollbar space */
    height: 0;  /* Remove scrollbar space */
    background-color: transparent;
}

.navigation nav::-webkit-scrollbar-thumb {
    width: 0;  /* Remove scrollbar space */
    height: 0;  /* Remove scrollbar space */
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .navigation {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    .navigation::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    
    .navigation::after {
        margin-left: calc(100vw - 72px);
        background: rgb(27,26,31);
        background: linear-gradient(90deg, rgba(27,26,31,0) 0%, rgba(37,34,52,0.6601234243697479) 53%, rgba(37,34,52,1) 100%);
    }

    .navigation .selected-tab {
        padding-bottom: 20px;
        margin-bottom: 4px;
    }
}