.top-bottom-padding {
    /* margin-top: 24px; */
    margin-bottom: 32px !important;
}

.user-page-header {
    padding: 12px 16px 0px 16px;
    background: #3F1E94;
    border-bottom: 2px solid #5241b3;;
    padding-bottom: 16px;
}

.neighbors {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    transition: 0.125s ease;
}

.neighbors a, .neighbors a:visited {
    color: #957df7;
    text-decoration: none;
    font-weight: 500;
    transition: 0.125s ease;
}

.neighbors a:nth-child(3) {
    color: #d0cfd5 !important;
}

.neighbors a:hover {
    opacity: 0.65;
    text-decoration: underline;
}

.week-summary-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #EAEAEA;
}

/* Loading Styles */

.rank-loading {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #B7B4BE;
}

/* Responsive */

@media only screen and (max-width: 600px) {
    .neighbors {
        display: flex !important;
    }

    .top-bottom-padding {
        /* margin-top: 12px; */
    }

    .section-padding {
        padding: 0px 16px;
    }
}