.table {
    width: 100%;
    border: 1px solid white;
    background-color: #502ea8;
    padding: 4px;
    border-spacing: 0;
}

.thead {
    text-align: left;
}

.thead tr td {
    padding: 0px 4px;
    font-size: 14px;
}

.tbody tr td {
    /* border-bottom: 1px solid white; */
    padding: 8px 4px;
    font-size: 14px;
}

.tbody tr:nth-child(odd) td {
    background: #3f1e94;
}

.tbody tr td:nth-child(even), .thead tr th {
    border-left: 1px solid white;
}

.increase {
    color: rgb(124 242 92);
}

.neutral {
    color: #777;
}

.decrease {
    color: red;
}

@media only screen and (max-width: 600px) {
    .tbody tr td {
        font-size: 12px;
    }
}