.popular-users-wrapper {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.popular-users-wrapper > section {
    margin-bottom: 16px;
}

.popular-users-wrapper > section > h2 {
    margin-bottom: 4px !important;
}

.popular-users-wrapper .header-subtitle {
    font-weight: 400;
    color: #d6cde8;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.popular-users-wrapper .header-subtitle i {
    color: #8e84a3;
}

.popular-users-wrapper button {
    border: 1px solid #423c58;
    background: #423c58;
    padding: 8px 12px;
    margin: 0 auto;
    display: block;
    margin-top: 4px;
    border-radius: 4px;
    color: white;
    transition: 0.125s ease;
    font-size: 16px;
    width: calc(100% - 4px);
}

.table-wrapper table {
    width: 100%;
    border: 1px solid white;
    background-color: #502ea8;
    border-spacing: 0;
}

.table-wrapper thead {
    text-align: left;
}

.table-wrapper thead tr th {
    padding: 0px 4px;
    font-size: 14px;
}

.table-wrapper thead tr th:first-child {
    width: 24px
}

.table-wrapper tbody tr td {
    padding: 8px 8px;
    font-size: 14px;
}

.table-wrapper tbody tr:nth-child(odd) td {
    background: #3f1e94;
}

.table-wrapper tbody tr td:first-child {
    text-align: center;
}

.table-wrapper tbody tr td, .table-wrapper thead tr th {
    border-left: 1px solid white;
}

.table-wrapper thead tr th:nth-child(1) {
    border-left: none !important;
}

.table-wrapper thead tr th {
    padding: 8px 4px;
    font-size: 14px;
    text-align: center;
    background: #1f0059;
}

.increase {
    color: rgb(124 242 92);
}

.neutral {
    color: #777;
}

.decrease {
    color: red;
}

@media only screen and (max-width: 600px) {
    .tbody tr td, .thead tr th {
        font-size: 12px;
    }
}








.table-item tr > th,
.table-item tr > td {
    width: calc(500px / 4);
}

.popular-users-wrapper .table-item a,
.popular-users-wrapper .table-item a:visited {
    color: white;
}

.popular-users-wrapper .table-item a:hover {
    opacity: 0.65;
}

.all-users-have-been-loaded-text {
    text-align: center;
    color: #7f74a3;
    display: block;
    margin-top: 16px;
}

@media only screen and (max-width: 600px) {
    .popular-users-wrapper {
        width: calc(100vw - 16px);
        margin: 0 auto;
    }

    .popular-users table {
        width: calc(100vw - 16px);
    }

    .popular-users-wrapper button {
        width: calc(100vw - 16px);
    }

    .table-item tr > th,
    .table-item tr > td {
        width: calc(100% / 4);
    }
}